/*
  Typography / Basics
---------------------------------------------*/

/* General style */

body {
  /*font-family: Times;*/
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  /*margin: 50px;*/
  font-size: 10pt;
}

@page {
  /*size:8.5in 11in;*/
  margin: 0.7cm;
}

.cover .title {
  font-size: 40px;
  font-weight: bold;
}

a {
  color: #1B6685;
}

.content-node.figure {
  text-align: center;
}

img {
  /*display: none;*/
  width: 70%;
  text-align: center;
}


.annotation.emphasis {
  font-style: italic;
}

.annotation.strong {
  font-weight: bold;
}

.content-node.heading.level-1 {
  font-size: 25px;
}

.content-node.heading.level-2 {
  font-size: 20px;
  font-weight: bold;
}

.content-node.heading.level-3 {
  font-weight: bold;
}

.resources {
  display: none;
}

.lens-outline {
  display: none;
}

.surface.content .nodes > .content-node {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

#container .content-node.codeblock > .content {
  color: #000;
}


/* Code block */

/* Codeblock Node
-------------------------------------------------------------------------------*/

.content-node.codeblock > .content {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  line-height: 20px;
  padding: 10px 10px;
}

.content-node.codeblock > .content {
  font-family: 'Source Code Pro';
  background: #eee;
  /*font-size: 14px;*/
  min-height: 28px;
}